.menu {
    background-color: white;
    box-shadow: 0 5px 0 5pc gray;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.menu-name {
    width: 12%;
}

.menu-img {
    display: block;
    width: 100%;
}

.nav {
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: bolder;
    transition: 0.5s linear;
}

.nav ul li a:hover {
    background-color: blue;
    color: white;
}
